.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: 700px;
  margin: 20px auto;
  text-align: center;
}

.day {
  /*border: 1px solid #ccc;*/
  height: 80px;
  padding: 15px 0;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
}

.day:hover {
  background: #f0f0f0;
}

.empty {
  background: transparent;
  border: none;
  cursor: default;
}

.week-header {
  font-weight: bold;
  background: #f8f8f8;
}

.weekday {
  padding: 10px 0;
}